@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
    --color-primary: #d24300;
    --color-secondary: #ff006a;
    --color-tertiary: #c06100;
}

/* Dark mode colors. */
:root {
    --sl-color-accent: var(--color-primary);
    --sl-color-accent-low: color-mix(in oklab, var(--sl-color-accent), black 30%);
    --sl-color-accent-high: color-mix(in oklab, var(--sl-color-accent), white 30%);
    --sl-color-white: #ffffff;
    --sl-color-gray-1: #f3ecea;
    --sl-color-gray-2: #cfc6c4;
    --sl-color-gray-3: #b0a09d;
    --sl-color-gray-4: #635451;
    --sl-color-gray-5: #423432;
    --sl-color-gray-6: #302321;
    --sl-color-black: #1d1715;
}
/* Light mode colors. */
:root[data-theme='light'] {
    --sl-color-accent: var(--color-primary);
    --sl-color-accent-low: color-mix(in oklab, var(--sl-color-accent), black 30%);
    --sl-color-accent-high: color-mix(in oklab, var(--sl-color-accent), white 30%);
    --sl-color-white: #1d1715;
    --sl-color-gray-1: #302321;
    --sl-color-gray-2: #423432;
    --sl-color-gray-3: #635451;
    --sl-color-gray-4: #978784;
    --sl-color-gray-5: #c8c0be;
    --sl-color-gray-6: #f3ecea;
    --sl-color-gray-7: #f9f5f5;
    --sl-color-black: #ffffff;
}
